.col-md-4.col-sm-6
	.card-container
		.card
			.front
				.cover
					img(src="app/apps/prelaunch/images/rotating_card_thumb2.png")
				.content
					.main
						h3.name Back-end
						p.profession Secure
						p.text-center Add, remove, and manage the data to be fed into the live site. (Athletes, Competitions, Federations, blogs, etc...)
					.footer
						i.fa.fa-mail-forward 
			.back
				.header
					h5.motto Click on the link below
				.content
					.main
						h4.text-center Back-end
						p.text-center Add, remove, and manage the data to be fed into the live site. (Athletes, Competitions, Federations, blogs, etc...)
						.stats-container.text-center
							a.btn-primary.btn(href="/manager") 
								i.fa.fa-mail-forward
								|&nbsp;&nbsp;LAUNCH
