.row
	.col-md-9
		.card
			.header
				h4.title(ng-bind="newPost.postTitle || 'New Article'")
				p.category Fill in the form to post an article
				p.category Keep in mind, all of these posts are under the cateory (Athlete Feature)
			hr
			.content
				form
					.row
						.col-md-3
							div
								h6.title Category
								label
									input(type="radio", ng-model="newPost.category", value="features", checked="checked", disabled)
									|&nbsp;&nbsp;&nbsp;
									strong Features
									|&nbsp;&nbsp;
									i.fa.fa-check
								.clearfix
								label
									input(type="radio", ng-model="newPost.category", value="training", disabled)
									|&nbsp;&nbsp; Training
								.clearfix
								label
									input(type="radio", ng-model="newPost.category", value="nutrition", disabled)
									|&nbsp;&nbsp; Nutrition
								.clearfix
								label
									input(type="radio", ng-model="newPost.category", value="athNews", disabled)
									|&nbsp;&nbsp; Athlete News
								.clearfix
								label
									input(type="radio", ng-model="newPost.category", value="contestNews", disabled)
									|&nbsp;&nbsp; Contest News
							hr
							div
								h6.title Included
								label(for="homePage")
									input(type="checkbox", ng-model="newPost.where.homePage", id="homePage")
									|&nbsp;&nbsp;Include on Home Page
								.clearfix
								label(for="topicPage")
									input(type="checkbox", ng-model="newPost.where.topicPage", id="topicPage")
									|&nbsp;&nbsp;Include on Topic Page
								.clearfix
								label(for="storyPage")
									input(type="checkbox", ng-model="newPost.where.storyPage", id="storyPage")
									|&nbsp;&nbsp;Include on Story Page
						.col-md-9
							h5.title(ng-bind="newPost.postTitle || 'New Article'")
							p.category Post content and details below.
							.row
								.col-md-12
									.form-group
										label Post Title
										input.form-control(placeholder="Post Title", ng-model="newPost.postTitle")
							.row
								.col-md-5
									.form-group
										label Social Title 
										input.form-control(placeholder="Optional - appears on social Media", ng-model="newPost.ogTitle")
								.col-md-4
									.form-group
										label Author
										input.form-control(placeholder="Author", ng-model="newPost.author", title="In the future, will pull from current logged in user")
								.col-md-3
									.form-group
										label Published Date:
										input.form-control.datepicker(placeholder="Optional", ng-model="newPost.published")
							hr
							.row
								.col-md-12(style="position:relative")
									div.postMainImg(style="background-image:url('{{newPost.mainImg.url}}')")
									button.btn-fill.btn.btn-danger.btn-xs(ng-click="uploadMainImg()", style="position:absolute;top:10px;right:30px;") Upload Main Image
							hr
							.row
								.col-md-4
									.form-group
										label Subtitle
										input.form-control(ng-model="newPost.subtitle", placeholder="Type subtitle")
									hr
									.form-group
										label Post Summary
										textarea.form-control(ng-model="newPost.summary", placeholder="Shows up out front, and on social media", style="height:100px")
								.col-md-8
									.form-group
										label Post Content
										textarea.form-control(ng-model="newPost.content", placeholder="Post Content goes here", style="height:250px", ui-tinymce="tinymceOptions")
		.pull-right.btn.btn-wd.btn-default.btn-fill(ng-click="savePost()") 
			i.fa.fa-pencil
			|&nbsp;&nbsp;Create Post
		.clearfix
		br
	.col-md-3
		p.category Use this page to create a post on the website.
script.
	$('.datepicker').datetimepicker({ format: 'MM/DD/YYYY', icons: { time: "fa fa-clock-o", date: "fa fa-calendar", up: "fa fa-chevron-up", down: "fa fa-chevron-down", previous: 'fa fa-chevron-left', next: 'fa fa-chevron-right', today: 'fa fa-screenshot', clear: 'fa fa-trash', close: 'fa fa-remove' } });


