.page-header.header-filter(data-parallax="active", style="background-image:url('#{post.mainImg.url}+#{post.mainImg.filename}');background-position:center")
	.container
		.row.title-row
			.col-md-6
				h1.title #{post.postTitle}
				h4 #{post.subtitle}
				
