meta(property="og:title", content="#{post.ogTitle}")
meta(property="og:image", content="#{post.mainImg.url}+#{post.mainImg.filename}")
meta(property="og:description", content="#{post.summary} || read this article now on Bigbodies.com")
meta(property="og:site_name", content="Bigbodies.com")
meta(property="og:type", content="article")
meta(property="fb:app_id", content="253043184880913")