.clearfix
	.card
		.content
			.img-rounded.imgShow(style="background-image:url('#{athletes[1].profile.picture.url}+#{athletes[1].profile.picture..filename}')")
			.img-rounded.imgShow(style="background-image:url('#{posts[0].mainImg.url}+#{posts[0].mainImg.filename}')")
			.card-title Responsive Ad goes here