.row(ng-show="athlete.published.length")
	div
		h4.title FEATURED POSTS
		ul.ath-editorials
			li(ng-repeat="post in athlete.published")
				a(href="{{ post.link }}", target="blank")
					div(style="float:left;width:20px")
						i.fa.fa-globe
					div(style="float:left") {{ post.title }}