.row
	ul.pagenav.list-inline.media-list(role="tablist")
		li.active(role="presentation")
			a(data-toggle="tab", data-target="#photos", role="tab")
				i.fa.fa-picture-o 
				|&nbsp;&nbsp;Pictures
		li(role="presentation")
			a(data-toggle="tab", data-target="#videos", role="tab") 
				i.fa.fa-youtube-play
				|&nbsp;&nbsp;Videos
	.tab-content
		.tab-pane.active.fade.in(role="tabpanel", id="photos")
			include photos
		.tab-pane.fade.in(role="tabpanel", id="videos")
			include videos