.news_pictures
	.widget
		h4.title VIDEOS
		p Hello this is the content for videos
		ul.news_pictures_list.clearfix
			li(ng-repeat="video in athlete.videos")
				a(href="{{video.link}}", target="blank")
					img(src="{{video.thumb}}")
				a(href="{{video.link}}")
					.overlay
				a.title-section(href="{{video.link}}")
					.title {{ video.videoName }}