.col-md-3(id="sidebar-wrapper",  ng-controller="sidebar")
	.theiaStickySidebar
		.sidebar.clearfix
			include ../../components/sidebar/popularPosts
			include ../../components/sidebar/sidebarAthletes
