nav.navbar.navbar-transparent.navbar-absolute
	.container
		.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-taget="#navigation-example-2")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand 
				img(src="app/apps/admin/img/logo_white.png", style="width:95px")
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href="") Create Account
				li
					a(title="Not Live Yet") Front-End Site