nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle(type="button")
				span.sr-only Toggle navigation
				span.icon-bar.bar1
				span.icon-bar.bar2
				span.icon-bar.bar3
			a.navbar-brand(href="#", ng-bind="$state.current.data.pageTitle")
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a.dropdown-toggle(data-toggle="dropdown", href="/")
						i.ti-world
						p &nbsp;View Site
				li
					a.dropdown-toggle(data-toggle="dropdown", ui-sref="/approvals/")
						i.ti-bell
						p.notification &nbsp;5
						p &nbsp;Approvals
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown", href="#")
						i.ti-settings
						p &nbsp;&nbsp;Account&nbsp;&nbsp;
						b.caret
					ul.dropdown-menu
						li
							a(ui-sref="/account/update") My Account
						li
							a(href="/logout") Logout

