.row
	.col-md-9
		.card
			.header
				h4.title {{ athlete.profile.firstName}} {{ athlete.profile.lastName}}
				p.category Pretty soon you will be able to edit this athlete's information
			hr
			.content
				form
					.row
						.col-md-2.col-md-3
							.image-container(style="background-image:url('{{ athlete.profile.picture.url }}')")
						.col-md-10
							.nav-tabs-navigation
								.nav-tabs-wrapper
									ul.nav.nav-tabs(id="tabs", data-tabs="tabs")
										li.active
											a(data-toggle="tab", data-target="#01", role="tab") 
												i.ti-user
												|&nbsp;&nbsp;Profile&nbsp;&raquo;
										li
											a(data-toggle="tab", data-target="#02", role="tab") 
												i.ti-comments
												|&nbsp;&nbsp;Contact&nbsp;&raquo;
										li
											a(data-toggle="tab", data-target="#03", role="tab") 
												i.ti-bookmark-alt
												|&nbsp;&nbsp;Editorials&nbsp;&raquo;
										li
											a(data-toggle="tab", data-target="#04", role="tab") 
												i.ti-medall
												|&nbsp;&nbsp;Competitions
										li(ng-show="athlete.galleries.length")
											a(data-toggle="tab", data-target="#05", role="tab") 
												i.ti-image
												|&nbsp;&nbsp;Albums
										li(ng-show="athlete.videos.length")
											a(data-toggle="tab", data-target="#06", role="tab")
							.tab-content(id="my-tab-content")
								.tab-pane.active.fade.in(id="01")
									include info/01
								.tab-pane.fade.in(id="02")
									include info/02
								.tab-pane.fade.in(id="03")
									include info/03
								.tab-pane.fade.in(id="04")
									include info/04
								.tab-pane.fade.in(id="05")
									include info/05
								.tab-pane.fade.in(id="06")
									include info/06
	.col-md-3
		button.btn.btn-wd.btn-fill.btn-primary(ng-click="updateAth()", onclick='swal("Post Updated", "Post saved. You may now use the browser to go back to the previous page. Or stay on this post and make more edits", "success")')
			i.ti-save
			|&nbsp;&nbsp; Save
		.clearfix
		br
		a.btn.btn-wd.btn-default.btn-fill(href="/#!/post/{{post._id}}", target="blank")
			i.ti-new-window
			|&nbsp;&nbsp; View
		.clearfix
		hr
		.card.card-plain
			.header
				h4.title Pictures
				a.btn.btn-wd.btn-primary.btn-fill(ui-sref="athlete.addAlbum({ id: athlete._id})") Create Album
				hr
				h4.title Videos
				button.btn.btn-wd.btn-primary.btn-fill Add Video
.row(ui-view="")
script.
	$('.datepicker').datetimepicker({ format: 'MM/DD/YYYY', icons: { time: "fa fa-clock-o", date: "fa fa-calendar", up: "fa fa-chevron-up", down: "fa fa-chevron-down", previous: 'fa fa-chevron-left', next: 'fa fa-chevron-right', today: 'fa fa-screenshot', clear: 'fa fa-trash', close: 'fa fa-remove' } });
