.row
	.col-md-3
		.card
			.header
				h4.title Create
				hr
				p.category Click below to [Add] an athlete to the database.				
			.content
				p
					a.pull-right.btn.btn-primary(ui-sref="newAthlete") Create Athlete
				.clearfix
.row
	.col-md-12
		.card.card-plain
			.header
				h4.title Athletes
				p.category Some of the Athletes currently in the database
			.content.table-responsive.table-full-width
				table.table.table-hover
					thead
						tr
							th 
							th Athlete
							th Country
							th Subtitle							
							th.text-center # Shows
							th.text-center Albums
							th.text-center Videos
							th
					tbody
						tr(ng-repeat="athlete in athletes", id="athlete._id")
							td(style="width:4.5%")
								img.img-responsive.img-rounded(src="{{athlete.profile.picture.url}}+{{athlete.profile.picture.filename}}")
							td {{ athlete.profile.firstName}} {{ athlete.profile.lastName}}
							td
								img(src="img/flags/{{athlete.countries[0].countryName | lowercase}}.png")
							td {{ athlete.profile.subtitle}}
							td.text-center {{ athlete.competitions.length }}
							td.text-center {{ athlete.galleries.length }}
							td.text-center {{ athlete.videos.length }}
							td 
								a.btn.btn-default.btn-xs.btn-simple(href="/#!/athlete/{{athlete._id}}", target="blank")
									i.ti-new-window
									|&nbsp;&nbsp;View Page
								a.btn.btn-primary.btn-xs.btn-simple(ui-sref="athlete({id: athlete._id})")
									i.ti-pencil
									|&nbsp;&nbsp;Edit								
								a.btn.btn-danger.btn-xs.btn-simple(ng-click="delete(athlete._id)", title="delete {{ athlete.profile.firstName }}")
									i.ti-trash
									|&nbsp;&nbsp;Delete