.row
	.col-md-3
		.card
			.header
				h4.title Create
				hr
				p.category Click below to [Add] an athlete to the database.				
			.content
				p
					a.pull-right.btn.btn-primary(ui-sref="newAthlete") Create Athlete
				.clearfix