.row
	.col-md-9
		.card.card-plain
			.content
				form
					.row
						.col-md-12
							.card
								.card-header
									h3.title.bigTitle Athlete Information
										small(style="display:block") Enter information here for the Athlete
								.content
									include create/01
							.card
								.card-header
									h3.title.bigTitle Social Media
										small(style="display:block") Enter Athlete's social Media
								.content
									include create/02
							.card
								.card-header
									h3.title.bigTitle Editorials
										small(style="display:block") Where has this Athlete been published?
								.content
									include create/03
							.card
								.card-header
									h3.title.bigTitle Competitions
										small(style="display:block") enter information for the shows this Athlete has done.
								.content
									include create/04
				button.btn.btn-wd.btn-fill.btn-default.pull-right(ng-click="createAthlete()") Save Athlete
	.col-md-3
		.card.card-plain
			.header
				h4.title Videos?
				p.category After you have saved the athlete, you will be able to add videos
				hr
				h4.title Pictures?
				p.category After you have saved the athlete, you will be able to add galleries and images