doctype html
html(lang="en", ng-app="manager", ng-init='user = "'+user._id+'"')
	head
		include includes/admin/head
	body
		.wrapper
			include includes/admin/aside
			.main-panel
				include includes/admin/nav/top
				.content
					.container-fluid(ui-view)
				include includes/admin/footer
		include includes/admin/scripts
		include includes/admin/angular
