doctype
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="app/apps/admin/css/bootstrap.min.css")
	body
		.container.text-center
			img(src="img/logo.png")
			br
			br
			p(style="font-size:30px")
				span(style="color:red") Website
				|&nbsp; Coming Soon.
				