doctype html
html
	head
		title Bigbodies Prelaunch
		include includes/prelaunch/head
	body
		.container
			.row
				h1.title 
					i.fa.fa-lock
					|&nbsp;&nbsp;Unauthorized
					br
					small Enter a correct email and password combination.
				.col-sm-10.col-sm-offset-1
					include includes/prelaunch/content