meta(http-equiv="content-type", content="text/html;charset=UTF-8")
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
title #{ athlete.profile.firstName } - Bigbodies.com
link(href="http://fonts.googleapis.com/css?family=Droid Sans", rel="stylesheet", type="text/css", media="all")
link(href="http://fonts.googleapis.com/css?family=Open Sans", rel="stylesheet", type="text/css", media="all")
meta(name='robots', content='noindex,follow' )
link(rel="stylesheet", href="app/apps/feature/css/custom.css")
link(rel="stylesheet", href='app/apps/feature/css/twitter.css', type='text/css', media='screen')
link(rel='stylesheet',  href='app/apps/feature/css/style.css', type='text/css', media='all')
link(rel="stylesheet", type="text/css", href="app/apps/feature/css/Carousel.css", media='all')
link(rel="stylesheet", type="text/css", href="app/apps/feature/css/Slider.css", media='all')
link(rel="stylesheet", type="text/css", href="app/apps/feature/css/default.css", media='all')
link(rel="stylesheet", type="text/css", href="app/apps/feature/css/media.css", media='all')
link(rel="stylesheet", type="text/css", href="app/apps/feature/css/shortcode.css", media='all')
link(rel="stylesheet", type="text/css", href="app/apps/feature/css/TipTip.css", media='all')
script(type='text/javascript', src='app/apps/feature/js/jqueryq.js')
script(type='text/javascript', src='app/apps/feature/js/jquery-migrate.min.js')
script(type='text/javascript', src='app/apps/feature/js/selector.js')
script(type='text/javascript', src='app/apps/feature/js/easing.js')
script(type='text/javascript', src='app/apps/feature/js/pikachoose.js')
script(type='text/javascript', src='app/apps/feature/js/flexslider.js')
script(type='text/javascript', src='app/apps/feature/js/froogaloop.js')
script(type='text/javascript', src='app/apps/feature/js/fitvid.js')
script(type='text/javascript', src='app/apps/feature/js/eislideshow.js')
script(type='text/javascript', src='app/apps/feature/js/cycle.js')
script(type='text/javascript', src='app/apps/feature/js/quicksand.js')
script(type='text/javascript', src='app/apps/feature/js/easypaginate.js')
script(type='text/javascript', src='app/apps/feature/js/color.js')
script(type='text/javascript', src='app/apps/feature/js/form.js')
script(type='text/javascript', src='app/apps/feature/js/tools.js')
script(type='text/javascript', src='app/apps/feature/js/prettyPhoto.js')
script(type='text/javascript', src='app/apps/feature/js/tiptip.js')
script(type='text/javascript', src='app/apps/feature/js/content_carousel.js')
script(type='text/javascript', src='app/apps/feature/js/jcarousel.js')
script(type='text/javascript', src='app/apps/feature/js/css3.js')
script(type='text/javascript', src='app/apps/feature/js/modern.js')
script(type='text/javascript', src='app/apps/feature/js/smoothmenu.js')
script(type='text/javascript', src='app/apps/feature/js/iviewi.js')
script(type='text/javascript', src='app/apps/feature/js/raphael.js')
script(type='text/javascript', src='app/apps/feature/js/custom.js')
script(type="text/javascript", src="app/apps/feature/js/other.js")