.page-header.header-filter(data-parallax="active", filter-color="rose", style="background-image: url('http://www.cfau-pd.net/images/wallpaper-abstract/wallpaper-abstract-4.jpg')")
	.container
		.row.title-row
			.col-md-4.col-md-offset-8(style="background-color:white")
				
