.page-header.header-filter(data-parallax="active", filter-color="red", style="background-color:rgba(0,0,0,.5)")
	.container
		.row.title-row
			.col-md-4.col-md-offset-8(style="background-color:white")
				
