script(src="/client/vendor/jquery/dist/jquery.min.js")
script(src="/client/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="/client/vendor/bootstrap/dist/js/material.min.js")
script(src="/client/vendor/bootstrap/dist/js/nouislider.min.js")
script(src="/client/vendor/bootstrap/dist/js/bootstrap-datepicker.js")
script(src="/client/vendor/bootstrap/dist/js/jquery.dropdown.js")
script(src="/client/vendor/bootstrap/dist/js/jquery.tagsinput.js")
script(src="/client/vendor/bootstrap/dist/js/jasny-bootstrap.js")
script(src="/client/vendor/bootstrap/dist/js/jquery.flexisel.js")
script(src="/client/vendor/bootstrap/dist/js/material-kit.js")
script(src="/client/app/apps/material/js/script.js")