nav.navbar.navbar-transparent.navbar-fixed-top.navbar-color-on-scroll.navbar-rose
	.container
		.navbar-header
			button.navbar-toggle(data-toggle="collapse", type="button", data-target="#navigation")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/")
				img.img-responsive(src="/client/app/apps/admin/img/logo_white.png")
		.navbar-collapse.collapse(id="navigation")
			ul.nav.navbar-nav.navbar-right
				li
					a(href="Editorials") Posts
				li
					a(href="Athletes") Athletes
						