.row
	.widget.clearfix
		.on.PopularPosts(id="PopularPosts1")
			h2.title POPULAR POSTS
			.widget-content.popular-posts
				ul
					li(ng-repeat="post in popularPosts | limitTo: 3")
						.item-content
							.item-thumbnail
								a(ui-sref="post({id: post._id})")
									img(alt="{{post.postTitle}}", src="{{post.mainImg.url}}+{{post.mainImg.filename}}")
								a(ui-sref="post({id: post._id})")
									.overlay
								.item-title
									a(ui-sref="post({id: post._id})") {{ post.postTitle }}
							.item-snippet {{ post.summary }}...
						