include ../components/ads/responsiveAd
.container
	include ../components/tabsMenu
	.clearfix(id="outer-wrapper")
		.secondary-content.clearfix
			.clearfix(id="main-wrapper")
				.theiaStickySidebar
					.post.clearfix
						include topProfile
						.line_1(style="margin:16px 0 37px;")
						include social
						include shows
						include published								
		include ../components/sidebar/sidebar