include ../components/ads/responsiveAd
.container
	.clearfix.row(id="outer-wrapper")
		.secondary-content.clearfix.col-md-9
			.clearfix(id="main-wrapper")
				.theiaStickySidebar
					.post.clearfix
						include topProfile
						include social
						include shows
						include includes/galleries							
		include includes/sidebar