include ../components/ads/responsiveAd
.container
	include ../components/tabsMenu
	.clearfix.row(id="outer-wrapper")
		.secondary-content.clearfix(style="width:calc(100% - 320px)")
			.clearfix(id="main-wrapper")
				.theiaStickySidebar
					.post.clearfix
						include topProfile
						include social
						include shows
						include published								
		include includes/sidebar