.row
	.col-md-12
		h4.title Contact Options
		ul.list-lined.list-profile-social
			li(ng-repeat="account in scMedia")
				span.serviceIcon(class="{{account.service}}")
					i.fa(class="fa-{{account.service}}")
				a.serviceLink(href="{{ account.link }}", target="blank") {{ account.link }}
.row
	.line_1(style="margin:16px 0;")