.row
	.magstyle.clearfix
		.magstyle_wide.left
			.profilePicture
				img(alt="{{athlete.profile.firstName}} {{ athlete.profile.lastName }}", src="{{athlete.profile.picture.url}}", style="margin:0", ng-show="athlete.profile.picture.url.length")
				img(alt="{{athlete.profile.firstName}}", src="app/apps/front/img/profile.jpg", ng-hide="athlete.profile.picture.url.length", style="margin:0", title="No Picture Added")
		.magstyle_narrow.right
			.widget
				h2.title {{athlete.profile.firstName}} {{ athlete.profile.lastName }}
					small {{ athlete.profile.subtitle }}
				.line(style="margin:-3px 0 12px")
				.athCountries
					div.singleCountry(ng-repeat="country in athlete.countries", ng-show="country.countryName.length")
						div.countryFlag(style="background-image:url('img/flags/{{country.countryName | lowercase}}.png')")
						span {{ country.classify }}
				.clearfix
				.line(style="margin:10px 0 12px")
				include socialShare
				p {{ athlete.bio }}
.row
	.line_1(style="margin:16px 0;")
