.row
	.col-md-12
		.card
			.header
				h4.title Dashboard Home
				p.category Home area to get a bird's eye-view of the entire application
				hr
			.content
				h4.title Intent
				p Here we will add the ability for us to monitor the entire project. Ability to see the people currently logged in, from what location, project health, etc..
				hr
				p Right now, we can perform the following [add], [view], and [update] on:
				ul
					li Athletes
					li Competitions
					li Federations
					li Users
				p Use the menu items to the left to navigate through  these functionalities.