.clearfix
	.col-md-12
		.row
			.col-md-3
				a.image-container.btn.btn-info(style="background-image:url('{{newAthlete.profile.picture.url}}')", ng-click="newPicture()", alt="Add Profile picture")
			.col-md-9
				.row
					.col-md-5
						.form-group
							label First Name
								star *
							input.form-control(name="firstName", ng-model="newAthlete.profile.firstName")
					.col-md-2
						.form-group
							label MI
							input.form-control(name="mName", ng-model="newAthlete.profile.middleName")
					.col-md-5
						.form-group
							label Last Name
								star *
							input.form-control(name="lastName", ng-model="newAthlete.profile.lastName")
				.row
					.col-md-4
						.form-group
							label Username
							input.form-control(ng-model="newAthlete.username", placeholder="created automatically", disabled)
					.col-md-4
						.form-group
							label Subtitle
							input.form-control(ng-model="newAthlete.profile.subtitle")
		.row
			.col-md-7
				.form-group
					label Biography
						star *
					textarea.form-control(name="biography", style="height:150px", ng-model="newAthlete.bio")
			.col-md-5
				.form-group
					label Primary Country 
						small (resides)
						star *
					select.form-control(name="primaryCountry", ng-model="primaryCountry.countryName")
						include ../../countries
				.form-group
					label Secondary Country 
						small (birth)
					select.form-control(name="secondaryCountry", ng-model="secondaryCountry.countryName")
						include ../../countries

