.row
	
	.col-md-12
		p The Facebook ID will be used to authenticate and offer the athlete the ability to update their profile.
		p To find their ID, copy the athlete's Facebook URL and paste in the following page:&nbsp;
			strong
				a.btn.btn-facebook.btn-xs.btn-wd.btn-fill(href="http://findmyfbid.com/", target="blank") Search FB ID
		p
			small.text-info If you get an error, we will have to manually authenticate this user for their account when they request to claim.
	.col-md-6
		.form-group
			label 
				i.fa.fa-lock
				|&nbsp;&nbsp; Enter Facebook ID
			input.form-control(name="fbID", placeholder="1001542109", ng-model="newAthlete.fbId")
hr
.row
	.col-md-12
		h6.title Public Contact Information
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-facebook
				i.ti-facebook
			input.form-control(ng-model="personalFB.link", placeholder="Personal Facebook URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-facebook
				i.ti-facebook
			input.form-control(ng-model="publicFB.link", placeholder="Facebook Page", style="padding-left:15px")
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-twitter
				i.ti-twitter-alt
			input.form-control(ng-model="twitter.link", placeholder="Twitter URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-instagram
				i.ti-instagram
			input.form-control(ng-model="instagram.link", placeholder="Instagram Username", style="padding-left:15px")
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-youtube
				i.ti-youtube
			input.form-control(ng-model="youtube.link", placeholder="Youtube Channel URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-google
				i.ti-google
			input.form-control(ng-model="gPlus.link", placeholder="Google Plus URL", style="padding-left:15px")
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-tumblr
				i.ti-world
			input.form-control(ng-model="web1.link", placeholder="Website URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-tumblr
				i.ti-world
			input.form-control(ng-model="web2.link", placeholder="Additional Website URL", style="padding-left:15px")