.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-facebook
				i.ti-facebook
			input.form-control(name="personalFB", placeholder="Personal Facebook URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-facebook
				i.ti-facebook
			input.form-control(name="publicFB", placeholder="Facebook Page", style="padding-left:15px")
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-twitter
				i.ti-twitter-alt
			input.form-control(name="", placeholder="Twitter URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-instagram
				i.ti-instagram
			input.form-control(name="", placeholder="Instagram Username", style="padding-left:15px")
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-youtube
				i.ti-youtube
			input.form-control(name="", placeholder="Youtube Channel URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-google
				i.ti-google
			input.form-control(name="", placeholder="Google Plus URL", style="padding-left:15px")
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-tumblr
				i.ti-world
			input.form-control(name="", placeholder="Website URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-tumblr
				i.ti-world
			input.form-control(name="", placeholder="Additional Website URL", style="padding-left:15px")