.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-facebook
				i.fa.fa-facebook
			input.form-control(name="personalFB", placeholder="Personal Facebook URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-facebook
				i.fa.fa-facebook
			input.form-control(name="publicFB", placeholder="Facebook Page", style="padding-left:15px")
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-twitter
				i.fa.fa-twitter
			input.form-control(name="", placeholder="Twitter URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-instagram
				i.fa.fa-instagram
			input.form-control(name="", placeholder="Instagram Username", style="padding-left:15px")
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-youtube
				i.fa.fa-youtube-play
			input.form-control(name="", placeholder="Youtube Channel URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-google
				i.fa.fa-google-plus-circle
			input.form-control(name="", placeholder="Google Plus URL", style="padding-left:15px")
.row
	.col-md-6
		.input-group
			span.input-group-addon.btn-tumblr
				i.fa.fa-globe
			input.form-control(name="", placeholder="Website URL", style="padding-left:15px")
	.col-md-6
		.input-group
			span.input-group-addon.btn-tumblr
				i.fa.fa-globe
			input.form-control(name="", placeholder="Additional Website URL", style="padding-left:15px")