.row
	.col-md-12
		button.btn.btn-xs.btn-fill.btn-default.pull-right
			i.ti-plus
			|&nbsp;&nbsp; Add Article
hr
.row
	.col-md-7
		.form-group
			input.form-control(placeholder="Article Title")
	.col-md-5
		.form-group
			input.form-control(placeholder="Article URL")
.row
	.col-md-7
		.form-group
			input.form-control(placeholder="Article Title")
	.col-md-5
		.form-group
			input.form-control(placeholder="Article URL")
.row
	.col-md-7
		.form-group
			input.form-control(placeholder="Article Title")
	.col-md-5
		.form-group
			input.form-control(placeholder="Article URL")
.row
	.col-md-7
		.form-group
			input.form-control(placeholder="Article Title")
	.col-md-5
		.form-group
			input.form-control(placeholder="Article URL")

