.row
	.col-md-12
		button.btn.btn-xs.btn-fill.btn-default.pull-right
			i.ti-plus
			|&nbsp;&nbsp; Add Show
hr
.row
	.table-responsive
		table.table.form-table.table-striped
			thead
				tr
					th Year
					th Federation
					th Competition 
					th Division
					th Class
					th Place
					th Save
			tbody
				form
					tr
						td 
							input.tbl-input(name="year")
						td 
							input.tbl-input(name="federation")
						td 
							input.tbl-input(name="show")
						td 
							input.tbl-input(name="division")
						td 
							input.tbl-input(name="class")
						td 
							input.tbl-input.text-center(name="place")
						td.td-actions.text-right 
							input.btn.btn-info.btn-simple.btn-xs(rel="tooltip", title="Save Record", type="submit", value="Save Record")
				form
					tr
						td 
							input.tbl-input(name="year")
						td 
							input.tbl-input(name="federation")
						td 
							input.tbl-input(name="show")
						td 
							input.tbl-input(name="division")
						td 
							input.tbl-input(name="class")
						td 
							input.tbl-input.text-center(name="place")
						td.td-actions.text-right 
							input.btn.btn-info.btn-simple.btn-xs(rel="tooltip", title="Save Record", type="submit", value="Save Record")
				form
					tr
						td 
							input.tbl-input(name="year")
						td 
							input.tbl-input(name="federation")
						td 
							input.tbl-input(name="show")
						td 
							input.tbl-input(name="division")
						td 
							input.tbl-input(name="class")
						td 
							input.tbl-input.text-center(name="place")
						td.td-actions.text-right 
							input.btn.btn-info.btn-simple.btn-xs(rel="tooltip", title="Save Record", type="submit", value="Save Record")
				form
					tr
						td 
							input.tbl-input(name="year")
						td 
							input.tbl-input(name="federation")
						td 
							input.tbl-input(name="show")
						td 
							input.tbl-input(name="division")
						td 
							input.tbl-input(name="class")
						td 
							input.tbl-input.text-center(name="place")
						td.td-actions.text-right 
							input.btn.btn-info.btn-simple.btn-xs(rel="tooltip", title="Save Record", type="submit", value="Save Record")


