.clearfix
	.col-md-12
		button.btn.btn-xs.btn-fill.btn-default.pull-right(ng-click="addRecord()")
			i.ti-plus
			|&nbsp;&nbsp; Add Show
hr
.clearfix
	.col-md-12
		.table-responsive
			table.table.form-table.table-striped
				thead
					tr
						th Year
						th Federation
						th Competition 
						th Division
						th Class
						th Place
				tbody
					tr(name="{{record.id}}", ng-repeat="record in records")
						td 
							input.tbl-input(ng-model="record.year")
						td 
							input.tbl-input(ng-model="record.federation")
						td 
							input.tbl-input(ng-model="record.show")
						td 
							input.tbl-input(ng-model="record.division")
						td 
							input.tbl-input(ng-model="record.class")
						td 
							input.tbl-input.text-center(ng-model="record.place")


