.row
	.col-md-12
		button.btn.btn-xs.btn-fill.btn-default.pull-right
			i.ti-plus
			|&nbsp;&nbsp; Add Show
hr
.row
	.col-md-3
		.row
			.col-md-4
				.form-group
					label Year
			.col-md-8
				.form-group
					label Federation
	.col-md-6
		.row
			.col-md-7
				.form-group
					label Competition Name
			.col-md-5
				.form-group
					label Division
	.col-md-3
		.row
			.col-md-8
				.form-group
					label Class
			.col-md-4
				.form-group
					label Place
.row
	.col-md-3
		.row
			.col-md-4
				.form-group
					input.form-control(placeholder="Year")
			.col-md-8
				.form-group
					select.form-control(placeholder="Federation")
						option IFBB Pro
						option NPC
	.col-md-6
		.row
			.col-md-7
				.form-group
					input.form-control(placeholder="Competition Name")
			.col-md-5
				.form-group
					select.form-control(placeholder="Division")
						option Men's Bodybuilding
						option Men's Physique
	.col-md-3
		.row
			.col-md-8
				.form-group
					select.form-control(placeholder="Class")
						option Heavy Weight
						option Light weight
						option Welter weight
			.col-md-4
				.form-group
					input.form-control(placeholder="Place")
.row
	.col-md-3
		.row
			.col-md-4
				.form-group
					input.form-control(placeholder="Year")
			.col-md-8
				.form-group
					select.form-control(placeholder="Federation")
						option IFBB Pro
						option NPC
	.col-md-6
		.row
			.col-md-7
				.form-group
					input.form-control(placeholder="Competition Name")
			.col-md-5
				.form-group
					select.form-control(placeholder="Division")
						option Men's Bodybuilding
						option Men's Physique
	.col-md-3
		.row
			.col-md-8
				.form-group
					select.form-control(placeholder="Class")
						option Heavy Weight
						option Light weight
						option Welter weight
			.col-md-4
				.form-group
					input.form-control(placeholder="Place")
.row
	.col-md-3
		.row
			.col-md-4
				.form-group
					input.form-control(placeholder="Year")
			.col-md-8
				.form-group
					select.form-control(placeholder="Federation")
						option IFBB Pro
						option NPC
	.col-md-6
		.row
			.col-md-7
				.form-group
					input.form-control(placeholder="Competition Name")
			.col-md-5
				.form-group
					select.form-control(placeholder="Division")
						option Men's Bodybuilding
						option Men's Physique
	.col-md-3
		.row
			.col-md-8
				.form-group
					select.form-control(placeholder="Class")
						option Heavy Weight
						option Light weight
						option Welter weight
			.col-md-4
				.form-group
					input.form-control(placeholder="Place")
.row
	.col-md-3
		.row
			.col-md-4
				.form-group
					input.form-control(placeholder="Year")
			.col-md-8
				.form-group
					select.form-control(placeholder="Federation")
						option IFBB Pro
						option NPC
	.col-md-6
		.row
			.col-md-7
				.form-group
					input.form-control(placeholder="Competition Name")
			.col-md-5
				.form-group
					select.form-control(placeholder="Division")
						option Men's Bodybuilding
						option Men's Physique
	.col-md-3
		.row
			.col-md-8
				.form-group
					select.form-control(placeholder="Class")
						option Heavy Weight
						option Light weight
						option Welter weight
			.col-md-4
				.form-group
					input.form-control(placeholder="Place")
.row
	.col-md-3
		.row
			.col-md-4
				.form-group
					input.form-control(placeholder="Year")
			.col-md-8
				.form-group
					select.form-control(placeholder="Federation")
						option IFBB Pro
						option NPC
	.col-md-6
		.row
			.col-md-7
				.form-group
					input.form-control(placeholder="Competition Name")
			.col-md-5
				.form-group
					select.form-control(placeholder="Division")
						option Men's Bodybuilding
						option Men's Physique
	.col-md-3
		.row
			.col-md-8
				.form-group
					select.form-control(placeholder="Class")
						option Heavy Weight
						option Light weight
						option Welter weight
			.col-md-4
				.form-group
					input.form-control(placeholder="Place")