include ../components/ads/responsiveAd
.container
	.clearfix.row(id="outer-wrapper")
		.secondary-content.clearfix.col-md-9
			.clearfix(id="main-wrapper")
				.theiaStickySidebar
					.post.clearfix	
						.latestpost
							h2.title Athlete Features
						.storage
							.cont.topLists
								ul.topimages
									li(ng-repeat="article in posts")
										figure	
											.topListImages
												a(ui-sref="article({postId: article._id})")
													img(src="{{ article.mainImg.url }}")
												a(ui-sref="article({postId: article._id})")
													.overlay
											figcaption
												.toptext
													a(ui-sref="article({postId: article._id})")
														.date-info.clearfix
															.cap-author
																i.fa.fa-pencil-square-o 
																|&nbsp; {{ article.author }}

		include sidebar/index