include ../components/ads/responsiveAd
.container
	.clearfix.row(id="outer-wrapper")
		.secondary-content.clearfix.col-md-9
			.clearfix(id="main-wrapper")
				.theiaStickySidebar
					.post.clearfix	
						.latestpost
							h2.title Athlete Features
						.storage
							.cont.topLists
								ul.topimages
									li(ng-repeat="article in posts")
										figure	
											.topListImages
												a(ui-sref="article({postId: article._id})")
													img(src="{{ article.mainImg.url }}")
												a(ui-sref="article({postId: article._id})")
													.overlay
											figcaption
												.toptext
													a(ui-sref="article({postId: article._id})")
														.date-info.clearfix
															.cap-author
																i.fa.fa-pencil-square-o 
																|&nbsp; {{ article.author }}
															.cap-date {{ article.published | date }}
															.cap-comment
																i.fa.fa-comment
																|&nbsp; 2
														p {{ article.summary }}
				.pagenav(ng-show="pages.length > 1")
					span.pages Page 1 of 4
					a(ui-sref="") Prev
					a(ui-sref="") 1
					span.current 2
					a(ui-sref="") 3
					a(ui-sref="") Next
					a(ui-sref="") Last
		include sidebar/index