include ../../components/ads/responsiveAd
.container
	.clearfix.row(id="outer-wrapper")
		.secondary-content.clearfix.col-md-9
			.clearfix(id="main-wrapper")
				.theisStickySidebar
					.post.clearfix
						div(id="post-header")
							img.img-responsive(src="{{article.mainImg.url}}+{{article.mainImg.filename}}")
						h2.post-title {{ article.postTitle }}
						.meta.post-meta
							span
								i.fa.fa-clock-o
								|&nbsp;&nbsp; {{ article.published | date }}&nbsp;&nbsp;&nbsp;&nbsp;
							span
								i.fa.fa-user 
								|&nbsp;&nbsp; {{ article.author }}&nbsp;&nbsp;&nbsp;&nbsp;
							span
								i.fa.fa-comments
								|&nbsp;&nbsp; 4 Comments
						include ../includes/socialShare
						.post-body
							div(ng-bind-html="article.content") 
							div(ng-repeat="item in moreContent")
								.alignleft
									img.imgShow(style="background-image:url({{ item.image.url}})")
								.clearfix {{ item.content }}
							.articleComments
								.fb-comments(data-href="http://bigbodies.com/#!/post/{{$stateParams.postId}}", data-numposts="5", data-width="100%")
		include ../sidebar/index