.page-header.header-filter(data-parallax="active", style="background-color:rgba(0,0,0,.55)")
	.container
		.row.title-row
			.col-md-6
				h2.title All Athletes
				h4 All featured athletes on Bigbodies.com
				
