.container
	.row
		include topSlider
	.row
		include ../components/ads/responsiveAd
	.row
		p Just loaded the home page homie!
		p {{ homeMessage }}
		h4.title Athletes
		.clearfix
		ul.col-md-6
			li(ng-repeat="athlete in athletes")
				a(ui-sref="singleAthlete({athId: athlete._id})") {{athlete.profile.firstName}}
		ul.col-md-6
			li(ng-repeat="post in posts")
				a(ui-sref="post({id: post._id})") {{ post.postTitle }}
	.row
		include ../components/ads/responsiveAd2