.container(ng-controller="hmSlider")
	.row
		.fp-slider
			.fp-slides-container
				.fp-slides.slider-area(id="slider-area")
					//- individual slider, make some different classes for different portions
					.fp-slides-items
						.fp-thumbnail
							.wrapper
								.large-section
									a(href="http://google.com")
										img(src="https://www.sergiconstance.com/wp-content/uploads/2014/07/1291573_10152260668124572_1423475466_n.jpg")
									a(href="http://google.com")
										.overlay
									.top-comment
										i.fa.fa-comment
										|&nbsp;3
									.feat-cap
										ul.cap-meta
											li.cap-date Jan 13 2016
										.clearfix
										a(href="http://google.com")
											h3.post-title Bigbodies first sample article
						.fp-content-wrap
							.fp-prev-next-wrap
								a.fp-next(href="#fp-next")
								a.fp-prev(href="#fp-prev")