meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no")
include ../../includes/appicons

link(rel="stylesheet", type="text/css", href="app/apps/front/css/style.css", media="screen")
link(rel="stylesheet", type="text/css", href="app/apps/front/css/media-queries.css" media="screen")
link(rel="stylesheet", type="text/css", href="vendor/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css")
script(src="https://use.fontawesome.com/7a62325826.js")