.headline-wrapper
	.clearfix(id="headline")
		.container
			.row
				.headline-left.clearfix
					.nav
						ul
							li.selected
								a(href="/") Home
							li
								a(href="/site/about") About Us
							li
								a(href="/site/contact") Contact
				.search-section.clearfix
					div(id="search", title="Type and hit enter")
						form(id="searchform", method="get")
							input(placeholder="Search...")
