.pic-header
	.container
		.row
			.header
				.logo
					a(href="/")
						img(src="app/apps/front/img/logo.png")
			.header-right
				nav(id="menu")
					span.menu-trigger
						i.fa.fa-bars
						|&nbsp;MENU
					ul
						include mainNav
	.searchbutton
include headlines
include topSocial