div(id="top-social")
	.container
		.row
			.news.red
				ul
					li
						.cap-date Fake Date
						a(href="#") big bodies article
					li
						.cap-date Fake Date 2
						a(href="#") Second Article
				.about-social
					include ../socialIcons