doctype
html(lang="en")
	head
		include includes/head
		include ../includes/appicons
		include includes/homeOg
		title Big Bodies
	body.product-page
		include ../front/includes/fbSDK
		include includes/topNav
		include includes/header
		.section.section-gray
			.container
				include posts/top
				br
				.row
					.col-md-8
						include posts/home
					.col-md-4
						include home/sidebar
		include includes/footer
		include includes/script