doctype
html(lang="en")
	head
		include includes/head
		include ../includes/appicons
		include includes/homeOg
		title Big Bodies
	body.product-page
		include ../front/includes/fbSDK
		include includes/topNav
		include includes/header
		.section.section-gray
			.container
				include home/top
				.features
					include home/ath
		include includes/footer
		include includes/script