html(dir="ltr", lang="en-US", class="no-js", ng-app="bigbodies")
	head
		title Big Bodies
		include includes/head
	body
		include includes/fbSDK
		include includes/loader
		include includes/header/header
		.container(ui-view="")
		include includes/footer/index
		include includes/footer/scripts
		include includes/angular