html(dir="ltr", lang="en-US", class="no-js")
	head
		title Big Bodies
		include includes/head
	body
		include includes/fbSDK
		include includes/loader
		include includes/header/header
		include includes/home/topSlider
		include includes/home/responsiveAd
		.container
			.row
				p Joram Clervius has finished the bulk of it
		include includes/home/responsiveAd
		include includes/footer/index
		include includes/footer/scripts