.f-widget.last
	.widget.clearfix
		h2.title Links
		.list-label-widget-content
			ul
				li
					a(href="") About
				li
					a(href="") Terms
				li
					a(href="") Contact
				li
					a(href="") Contribute