.f-widget.f-widget1
	.widget.FeaturedPost
		h2.title Bbodies Feature
		.post-summary
			img.image(src="app/apps/front/img/bbder.jpg")
			h3
				a(href="http://google.com") Bigbodies Featured post goes in here
			p Hello to the brief summary of the featured post that is in the footer
			