footer.pic-footer
	.container
		.row
			.footer-widgets
				include footerCol1
				include footerCol2
				include footerCol3
.picfooter.clearfix
	.container
		.row
			.credits Copyright &copy; 2016
				a.sitename(href="/") Bigbodies
			.social-table
				.fa-icon-wrap
					include ../socialIcons
a(href='#', id="BackToTop")
	i.fa.fa-angle-up