script(type="text/javascript", src="app/apps/front/js/plugins/jquery-1.12.3.min.js")
script(type="text/javascript", src="app/apps/front/js/jquery-ui.min.js")
script(type="text/javascript", src="vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="app/apps/front/js/bootstrap-table.js")
script(type="text/javascript", src="vendor/ekko-lightbox/dist/ekko-lightbox.js")
script(type="text/javascript", src="app/apps/front/js/plugins/theia-sticky-sidebar.js")
script(type="text/javascript", src="app/apps/front/js/plugins/blockUI.min.js")
script(type="text/javascript", src="app/apps/front/js/plugins/featured-slider.js")
script(type="text/javascript", src="app/apps/front/js/plugins/jCarouselLite.js")
script(type="text/javascript", src="app/apps/front/js/functions/featuredslider.js")
script(async, defer, src="//assets.pinterest.com/js/pinit.js")
script(type="text/javascript", src="app/apps/front/js/functions/scripts.js")
script(type="text/javascript", src="app/apps/front/js/functions.js")