.row
	.col-md-12
		.row
			.col-md-4
				.form-group
					label First Name
						star *
					input.form-control(name="firstName", value="{{ athlete.profile.firstName }}")
			.col-md-3
				.form-group
					label Middle Name
					input.form-control(name="mName", value="{{ athlete.profile.middleName }}")
			.col-md-5
				.form-group
					label Last Name
						star *
					input.form-control(name="lastName", value="{{ athlete.profile.lastName }}")
		.row
			.col-md-4
				.form-group
					label Birth date
					input.form-control.datepicker(value="{{ athlete.dob | date }}", placeholder="01/10/1975")
			.col-md-4
				.form-group
					label Subtitle
					input.form-control(value="{{ athlete.profile.subtitle }}")
			.col-md-4
				.form-group
					label Federation
					input.form-control(value="{{ athlete.federation.federationShortName }}")
		.row
			.col-md-7
				.form-group
					label Biography
						star *
					textarea.form-control(name="biography", style="height:150px", value="{{ athlete.bio }}")
			.col-md-5
				.form-group(ng-repeat="country in athlete.countries")
					label {{ country.classify }}
					input.form-control(value="{{country.countryName }}")

