.row
	.col-md-12
		.row
			.col-md-4
				a.image-container.btn.btn-info(style="background-image:url('{{ athlete.profile.picture.url }}')", ng-click="")
			.col-md-8
				.row					
					.col-md-5
						.form-group
							label First Name
								star *
							input.form-control(name="firstName", ng-model="athlete.profile.firstName")
					.col-md-2
						.form-group
							label MI
							input.form-control(name="mName", ng-model="athlete.profile.middleName")
					.col-md-5
						.form-group
							label Last Name
								star *
							input.form-control(name="lastName", ng-model="athlete.profile.lastName")
				.row
					.col-md-4
						.form-group
							label Username
							input.form-control.datepicker(ng-model="athlete.username", placeholder="No Spaces")
					.col-md-4
						.form-group
							label Subtitle
							input.form-control(ng-model="athlete.profile.subtitle")
					.col-md-4
						.form-group
							label Federation
							input.form-control(ng-model="athlete.federation.federationShortName")
		.row
			.col-md-7
				.form-group
					label Biography
						star *
					textarea.form-control(name="biography", style="height:150px", ng-model="athlete.bio")
			.col-md-5
				.form-group(ng-repeat="country in athlete.countries")
					label {{ country.classify }}
					input.form-control(ng-model="country.countryName")