.row
	.table-responsive
		table.table.form-table.table-striped
			thead
				tr
					th Year
					th Federation
					th Competition 
					th Division
					th Class
					th Place
					th(style="background-color:transparent !important") 
			tbody
				tr(ng-repeat="record in records")
					td 
						input.tbl-input(ng-model="record.year")
					td 
						input.tbl-input(ng-model="record.federation")
					td 
						input.tbl-input(ng-model="record.show")
					td 
						input.tbl-input(ng-model="record.division")
					td 
						input.tbl-input(ng-model="record.class")
					td
						input.tbl-input.text-center(ng-model="record.place")
					td.td-actions.text-center(style="background-color:transparent !important")
						button.btn.btn-info.btn-simple.btn-xs(ng-click="updateRecord(record._id)") Update


