.header
	h5.title Videos
		a.btn.btn-xs.btn-info.btn-fill.pull-right(ng-click="addVideo()", style="position:relative;top:-3px") &nbsp;&nbsp;
			i.ti-control-play
			|&nbsp;&nbsp;Add Video&nbsp;&nbsp;
hr
.row
	ul.list-unstyled
		li.dropdown.col-md-3(ng-repeat="video in athlete.videos")
			button.btn.dropdown-toggle.btn-info.imgShow(type="button", style="background-image:url({{video.thumb}})", data-toggle="dropdown")
			ul.dropdown-menu(role="menu")
				li(role="presentation")
					a(role="menuitem", tabindex="-1", href="{{video.link}}")
						i.fa.fa-youtube-play
						|&nbsp;&nbsp; Watch Video
				li(role="presentation")
					a(role="menuitem", tabindex="-1", ng-click="deleteVideo(video._id)") 
						i.fa.fa-trash
						|&nbsp;&nbsp; Delete Video