.col-md-6.col-md-offset-3.col-sm6.col-sm-offset-3
	.card.card-signup
		.header.header-primary.text-center
			h4 Bigbodies account
		p.text-divider For verified users ONLY
		.content(style="padding:0 40px")
			form(name="form", novalidate, action="/access/register" method="post")
				.row
					.col-sm-4
						.form-group.label-floating.is-empty
							label.control-label First Name
							input.form-control(name="fname", id="fname")
					.col-sm-4
						.form-group.label-floating.is-empty
							label.control-label Last Name
							input.form-control(name="lname", id="lname")
					.col-sm-4
						.form-group.label-floating.is-empty
							label.control-label Username
							input.form-control(name="username", id="lname")
				.row
					.col-sm-6
						.form-group.label-floating.is-empty
							label.control-label Email Address
							input.form-control(name="email", id="email", type="email")
					.col-sm-6
						.form-group.label-floating.is-empty
							label.control-label Phone Number (cell)
							input.form-control(name="phone", id="phoneNumber")
				.row
					.col-sm-6
						.form-group.label-floating.is-empty
							label.control-label Password
							input.form-control(name="password", id="password", type="password")
					.col-sm-6
						.form-group.label-floating.is-empty
							label.control-label Confirm Password
							input.form-control(name="cpassword", id="cpassword", type="password")
				br
				br
				.row
					.col-sm-12						
						.form-group.label-floating.is-empty
							label.control-label Billing Street Address
							input.form-control(name="street", id="sAddress")
				.row
					.col-sm-5
						.form-group.label-floating.is-empty
							label.control-label City
							input.form-control(name="city", id="city")
					.col-sm-3
						.form-group.label-floating.is-empty
							label.control-label State
							input.form-control(name="state", id="state")
					.col-sm-4
						.form-group.label-floating.is-empty
							label.control-label Zip
							input.form-control(name="zip", id="zip")
				br
				.row
					.col-md-12.text-right
						input.btn.btn-primary(value="Register", type="submit")
				.clearfix
				br