.col-md-4.col-md-offset-4.col-sm6.col-sm-offset-3
	form(name="signin", novalidate, action="/access/login", method="post")
		.card(data-background="color", data-color="blue")
			.header
				h3.title Login
				p.category Big Bodies Manager
			.content
				.form-group
					label Email Address
					input.form-control.input-no-border(placeholder="Email...", name="email", id="email")
				.form-group
					label Password
					input.form-control.input-no-border(type="password", placeholder="Password...", name="password", id="password")
			.footer.text-center
				input.btn.btn-fill.btn-wd(value="Log In", type="submit")