.sidebar(data-background-color="black", data-active-color="danger")
	.sidebar-wrapper
		.logo
			a.simple-text(href="/manager/") Big Bodies
		ul.nav
			li.active
				a(href="/manager/")
					i.ti-panel
					p Dashboard
			li
				a(href="/manager/athletes")
					i.ti-user
					p Athletes
			li
				a(href="/manager/competitions")
					i.ti-medall
					p Competitions
