footer.footer
	.container-fluid
		nav.pull-left
			ul
				li
					a(href="/") View Site
				li
					a(href="/manager/") Manager Home
				li
					a(href="/logout") Logout
		.copyright.pull-right Big Bodies