meta(charset="utf-8")
include ../appicons
title Manage Bigbodies
meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
meta(name="viewport" content="width=device-width")
link(href="app/apps/admin/css/bootstrap.min.css", rel="stylesheet")
link(href="app/apps/admin/css/animate.min.css", rel="stylesheet")
link(href="app/apps/admin/css/paper-dashboard.css", rel="stylesheet")
link(href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css", rel="stylesheet")
link(href='https://fonts.googleapis.com/css?family=Muli:400,300', rel='stylesheet', type='text/css')
link(href="app/apps/admin/css/themify-icons.css", rel="stylesheet")
	