script(src="app/apps/admin/js/jquery-1.10.2.js", type="text/javascript")
script(src="app/apps/admin/js/bootstrap.min.js", type="text/javascript")
script(src="app/apps/admin/js/bootstrap-checkbox-radio.js")
script(src="app/apps/admin/js/chartist.min.js")
script(src="app/apps/admin/js/bootstrap-notify.js")
script(src="app/apps/admin/js/paper-dashboard.js")
script(src="app/apps/admin/js/custom.js")