script(src="app/apps/admin/js/jquery-1.10.2.js", type="text/javascript")
script(src="app/apps/admin/js/jquery-ui.min.js", type="text/javascript")
script(src="app/apps/admin/js/bootstrap.min.js", type="text/javascript")
script(src="app/apps/admin/js/jquery.validate.min.js")
script(src="app/apps/admin/js/moment.min.js")
script(src="app/apps/admin/js/bootstrap-datetimepicker.js")
script(src="app/apps/admin/js/bootstrap-selectpicker.js")
script(src="app/apps/admin/js/bootstrap-checkbox-radio-switch-tags.js")
script(src="app/apps/admin/js/jquery.easypiechart.min.js")
script(src="app/apps/admin/js/chartist.min.js")
script(src="app/apps/admin/js/bootstrap-notify.js")
script(src="app/apps/admin/js/sweetalert2.js")
script(src="app/apps/admin/js/jquery-jvectormap.js")
script(src="https://maps.googleapis.com/maps/api/js")
script(src="app/apps/admin/js/jquery.bootstrap.wizard.min.js")
script(src="app/apps/admin/js/bootstrap-table.js")
script(src="app/apps/admin/js/fullcalendar.min.js")
script(src="app/apps/admin/js/paper-dashboard.js")
script(src="app/apps/admin/js/custom.js")
