script(src="js/libs/jquery/jquery/dist/jquery.js")
script(src="js/libs/jquery/bootstrap/dist/js/bootstrap.js")
script(src="vendor/angular/angular.js")
script(src="vendor/angular-animate/angular-animate.js")
script(src="vendor/angular-aria/angular-aria.js")
script(src="vendor/angular-cookies/angular-cookies.js")
script(src="vendor/angular-messages/angular-messages.js")
script(src="vendor/angular-resource/angular-resource.js")
script(src="vendor/angular-sanitize/angular-sanitize.js")
script(src="vendor/angular-touch/angular-touch.js")
script(src="vendor/angular-material/angular-material.js")
script(src="vendor/angular-ui-router/release/angular-ui-router.js")
script(src="vendor/ngstorage/ngStorage.js")
script(src="vendor/angular-ui-utils/ui-utils.js")
script(src="vendor/angular-bootstrap/ui-bootstrap-tpls.js")
script(src="vendor/oclazyload/dist/ocLazyLoad.js")
script(src="vendor/angular-translate/angular-translate.js")
script(src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js")
script(src="vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.js")
script(src="vendor/angular-translate-storage-local/angular-translate-storage-local.js")
script(src="vendor/angular-loading-bar/build/loading-bar.js")
script(src="app/apps/admin/app.js")
script(src="app/apps/admin/config.js")
script(src="app/apps/admin/config.lazyload.js")
script(src="app/apps/admin/config.router.js")
script(src="app/apps/admin/app.ctrl.js")
script(src="app/apps/admin/directives/lazyload.js")
script(src="app/apps/admin/directives/ui-jp.js")
script(src="app/apps/admin/directives/ui-nav.js")
script(src="app/apps/admin/directives/ui-fullscreen.js")
script(src="app/apps/admin/directives/ui-scroll.js")
script(src="app/apps/admin/directives/ui-toggle.js")
script(src="app/apps/admin/filters/fromnow.js")
script(src="app/apps/admin/services/ngstore.js")
script(src="app/apps/admin/services/ui-load.js")